#main {
    display: flex;
    align-items: center;
    justify-content: center;
}
#calculator {
    border-style: solid;
    width: 400px;
    height: 400px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
}
#display {
    flex: 0.1 0.5 70px;
    display: flex;
    width: 392px;
    justify-content: center;
    margin-bottom: 1px;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    background-color: antiquewhite;
}
#central-panel {
    display: flex;
}
#numbers {
    display: flex;

    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
    gap: 1px;

}
#lower-panel {
    display: flex;
}
#operators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-collapse: collapse;
    width: 73px;
    height: 73px;
}
#lower-panel {
    display: flex;
    gap: 1px;
}
.button-double {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    width: 152px;
    height: 73px;
    margin-bottom: 5px;
}

#zero {
margin-right: 4px;
}

.number {
    color: teal;
    background-color: azure;
}

.operator {
    color: red;
    background-color: beige;
}
